---
title: Foto
---

<div id="photos" class="row">
  <div class="photos-container photo-albums col-xs-12 col-sm-12 col-md-12">
    <div class="heading"><%= current_page.data.title %></div>
    <% data.galleries.reverse.each_with_index do |entry, entry_index| %>
      <%= partial "partials/photo_album", :locals => { :entry => entry, :entry_index => entry_index } %>
    <% end %>
  </div>
</div>
